Gets 3v3 overtime data by team and game.

In [1]:
import PbPMethods2 as pm2
import GetPbP

In [2]:
team_game_cf = {}
team_game_ca = {}
team_game = {}
for season in range(2015, 2017):
    for team in pm2.get_teams(season):
        if team not in team_game:
            team_game_cf[team] = []
            team_game_ca[team] = []
            team_game[team] = []
        cur_game = 0
        for line in pm2.read_team_pbp(team, season, strengths=['3v3'], 
                                      types=['GOAL', 'SHOT', 'MISS', 'BLOCK']):
            if pm2.get_event_period(line) == 4:
                g = pm2.get_game(line)
                if not g == cur_game:
                    cur_game = g
                    team_game[team].append('{0:d}0{1:d}'.format(season, g))
                    team_game_cf[team].append(0)
                    team_game_ca[team].append(0)
                if pm2.get_acting_team(line) == team:
                    team_game_cf[team][-1] += 1
                else:
                    team_game_ca[team][-1] += 1
    print('Done with', season)

Done with 2015
Done with 2016

In [3]:
w = open('./3v3 cf data.csv', 'w')
w.write('Team,Game,CF,CA')
for team in team_game:
    for i in range(len(team_game[team])):
        w.write('\n{0:s},{1:s},{2:d},{3:d}'.format(team, team_game[team][i], 
                                                 team_game_cf[team][i],
                                                 team_game_ca[team][i]))
w.close()

In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('./3v3 cf data.csv')
df.head()

  Team        Game  CF  CA
0  TOR  2015020019   3   1
1  TOR  2015020088   9   1
2  TOR  2015020194   0   3
3  TOR  2015020203   5   6
4  TOR  2015020237   4   1

In [6]:
df[df.Team == 'WSH']

    Team        Game  CF  CA
341  WSH  2015020160   2   2
342  WSH  2015020203   6   5
343  WSH  2015020243   3   2
344  WSH  2015020276   2   0
345  WSH  2015020388   8   2
346  WSH  2015020409   1   1
347  WSH  2015020576   3   1
348  WSH  2015020614   1   2
349  WSH  2015020741   0   2
350  WSH  2015020775   0   1
351  WSH  2015020858   6   1
352  WSH  2015020973   4   3
353  WSH  2015020991   5   3
354  WSH  2015021006   3   3
355  WSH  2015021041   3   0
356  WSH  2015021112   3   1
357  WSH  2015021150   2   1
358  WSH  2015021191   3   3
359  WSH  2015021206   3   5
360  WSH  2016020007   7   2
361  WSH  2016020149   5   0
362  WSH  2016020209   3   0
363  WSH  2016020232   0   2
364  WSH  2016020364   3   5
365  WSH  2016020380   1   2
366  WSH  2016020392   2   1
367  WSH  2016020456   5   5
368  WSH  2016020493   3   4
369  WSH  2016020533   6   5

In [7]:
df.tail()

    Team        Game  CF  CA
803  CHI  2016020270   5   7
804  CHI  2016020336   1   2
805  CHI  2016020353   2   3
806  CHI  2016020409   1   1
807  CHI  2016020512   0   1